{% extends 'base.html.twig' %}

<<<<<<< HEAD
{#{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
=======
{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>
        body {
            margin: 0;
            padding: 0;
            font-weight: 100;
            font-family: 'Lato';
        }

        .title {
            margin: 20px auto;
            text-align: center;
            font-size: 96px;
        }
>>>>>>> 849e895edaa0aa44bb175419cbb7e10ef84bde59
    </style>
{% endblock %}

{% block body %}
<<<<<<< HEAD
{% endblock %}#}
=======
    <div class="title">NFQ Akademija</div>
{% endblock %}
>>>>>>> 849e895edaa0aa44bb175419cbb7e10ef84bde59
