{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div>{{ 'profile.show.username'|trans }}:</div> <div style="font-weight: normal">{{ user.username }}</div>
    <div>{{ 'profile.show.email'|trans }}:</div> <div style="font-weight: normal">{{ user.email }}</div>
</div>
