{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <h2>Pasirinkite kelionės tipą:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <button class="btn btn-outline-dark" style="margin: 10px" onclick="location.href = '{{ path('add_trip') }}';">Mieste</button>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <input type="button" class="btn btn-outline-dark" style="margin: 10px" onclick="location.href = '{{ path('add_trip') }}';" value="Į kitus miestus"></input>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <input type="button" class="btn btn-outline-dark" style="margin: 10px" onclick="location.href = '{{ path('add_trip') }}';" value="Į kitas šalis"></input>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}