/* **************************************************************
       DETAIL PAGE
       ************************************************************** */
.search-wrap {
  padding: 22px 0;
  background: #ffffff;
  -webkit-box-shadow:inset 0 -25px 8px -24px rgba(0,0,0,.25)
}
.detail-options-wrap {
  padding: 15px 0;
}
/* **************************************************************
   RESERVE A SEAT
   ************************************************************** */
.reserve-block {
  margin:auto
}
.search-wrap h5 {
  color: #3e434b;
  font-weight: 400;
  display: inline-block;
  margin: 0;
}
.reserve-description {
  font-size: 15px !important;
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.reserve-description span{
  color:#ff5f00;
}
.seats{
  float:left;
  margin:0;
  padding:0;
}
.review-btn{
  float:right;
  margin:0;
}
.review-btn .btn-outline-success {
  color: #6ecb22;
  border-color: #6ecb22;
}
.review-btn .btn-outline-success:hover {
  color: #fff;
  background: #6ecb22;
}
/* **************************************************************
      BOOKING DETAILS
      ************************************************************** */
.booking-details_wrap {
  padding: 15px 0 26px 0;
}
.booking-checkbox_wrap {
  background: #fff;
  padding: 30px;
  margin:auto;
}
.booking-checkbox_wrap h5 {
  color: #3e434b;
  text-align: center;
  font-weight: 300;
}
.booking-checkbox {
  color: #000000;
  font-size: 15px;
}
.go-back{
  margin:auto;
  padding-top:15px;
}
.customer-img-block{
  width:50%;
  margin-top:20px;
}
.customer-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius:50%;
  border:1px solid #e9e7ed;
}
.contacts-icon{
  font-size:20px;
}
@media (max-width: 992px) {
   .booking-checkbox .col{
     width:100%;
   }
  .contacts-icon{
    font-size:14px;
  }
}
.info-block {
  text-align: justify;
  margin-top: 10px;
}
#map {
  height: 100%;
  width: 100%;
}
@media (max-width: 575px) {
  #map {
    height: 250px;
    width: 100%; }
}

