* {
    margin: 0;
    padding: 0;
}
html,
body {
    background: url("/images/keliasbackground.png") #eaedf4 no-repeat bottom right fixed;
    background-size: contain;
    position:relative;
}
a { color: #9ba8cd; }
a:hover {
    text-decoration: none;
}
.footer-look a:hover{
  color: #5173a2;
}

.btn-yellow{
    border:1px solid #f8ed32;
    color: #eedc10;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    font-size: 24px;
    box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: rgba(88, 89, 91, 0.9);
}
.btn-yellow:hover, .btn-yellow:active{
    border:1px solid #967D09;
    color: #705D07;
    box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
    background-color: rgba(88, 89, 91, 0.9);
}
.html-changeHeight {height: 100%}
.page-look
{
    font-family: arial, sans-serif;
    color: #232c46;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar{
    background-color: rgba(88, 89, 91, 0.9);
    border-bottom:2px solid #f8ed32;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
  color:#f8ed32;
}

.mobileMenu-item{
  color: #f8ed32;
  text-decoration: none;
  margin: 2px 0 2px 0;
}
.mobileMenu-item:hover{
  color:#ffffff;
}
.dropdown-menu {
  background-color: rgba(88, 89, 91, 0.9);
  border: 1px solid #f8ed32;
 }
.dropdown-item {
  color: #f8ed32;
  line-height: 1.5em;
}
.logo{
  font-size:25px;
    color:#ffffff;
    font-family: 'Kaushan Script', cursive;
}

.logo-md{
  font-size:40px;
}

.logo-img{
    width:35px;
    margin:2px 10px 7px 0;
}

.logo-img-md{
  width:55px;
}

.headingWhiteWithBorder{
    color:#ffffff;
    text-transform: uppercase;
    display:inline;
    border-bottom: 3px solid #eedc10;
    padding-bottom: 5px;
}
.headingDarkNoBorder{
    text-transform: uppercase;
    display:inline;
    padding-bottom: 25px;
}
.form-title{
    margin-bottom:30px;
    //padding-top: 10px;
    padding-left: 10px;
    color:#1b1e21;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
}
.search-form{
    background: rgba(204, 205, 205, 0.5);
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    padding: 10px 20px 10px 20px;
}
.registration-form{
    background: rgba(204, 205, 205, 0.5);
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    font-weight: bold;
    color: rgba(88, 89, 91, 1);
}

.spoiler-title3 {
    width:100%;
    text-align: center;
    cursor:pointer;
    color:#000000;
    font-size: 25px;
}
.spoiler-body3{
    margin-top:20px;
}

.userLogin-menu{
    margin: 0;
    padding: 0;
    position: relative;
}

.userLogin-btn{
    color:#ffffff;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userLogin-btn:hover{
    color: #eedc10;
    text-decoration: none;
}

.userLogin-menu:hover .userLogin-submenu {
    display: block;
}

.userLogin-submenu {
    display: none;
    position: absolute;
    border:1px solid #67676b;
    top: 79px;
    right: 0;
    z-index: 9999;
    margin: 0;
}
.userLogin-submenu > li {
    display: block;
    line-height:25px;
}
.userLogin-submenu > li > a {
    display: block;
    padding: 10px;
    font-family:Lato,sans-serif;
    color: #ffffff;
    font-size: 17px;
    background-color: rgba(88, 89, 91, 0.9);
    text-decoration: none;
}
.userLogin-submenu > li > a:hover {
    color: #eedc10;
    text-decoration: underline;
}

.form-check-inline{
    font-size:36px;
}
.form-check{
    padding-left:0px;
}

.icons {icon: auto}

.main{
    padding-top:100px;
    padding-bottom:20px;
}

.col-inline-padding-left{
    float:left;
    padding:0 5px 0 10px;
    margin:0
}
.col-inline-padding-right{
    float:left;
    padding:0 10px 0 5px;
    margin:0
}
.clearBoth{
    clear: both;
}
.alignCenter{
    text-align: center;
}
.btn-row{
    text-align: left;
    margin-top:15px;
    margin-bottom:10px;
}
.colorYellow{
    color:#eedc10;
}

.filter{
    background: rgba(88, 89, 91, 0.8);
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    height: 645px;
}

.adw-list{
    padding: 15px;
}
.adw-col{
    margin:auto;
}

.adw-list-row{
    border-bottom:1px solid #67676b;
    background-color: rgba(190, 191, 192, 0.5);
    padding-top:15px;
    padding-bottom:15px;
    margin-left: 5px;
    margin-right: 5px;
}

.adw-icon{
    font-size:40px;
}
.info{
    border-right:1px solid #9a968d;
    text-align: center;
}
.yellowBorder {
    border:2px solid #9a968d;
    padding: 7px;
    font-size:20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}
.itemTitle{
    font-weight:bold;
    font-size:20px;
}
.itemData{
  font-size:20px;
  color:#1b1e21;
}
.editAdw{
    padding-top:7px;
}
#map {
    height: 300px;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#warnings-panel {
    width: 100%;
    //height:10%;
    text-align: center;
}

.footer-look {
    width: 100%;
    background-color: rgb(88, 89, 91);
    border-top:2px solid #f8ed32;
    color: #eaedf4;
    height: 80px;
    font-size: small;
    text-align: center;
    margin: auto auto 0 auto;
}
.footer-text{
    padding:25px 0 0 0;
}
.travellerIcon
{
  font-size: 40px;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  background: #ffffff;
  padding:10px;
  margin: auto;
  text-align: center;
}
