* {
    margin: 0;
    padding: 0;
}
html,
body {
    background: url("/images/keliasbackground.png") #eaedf4 no-repeat bottom right fixed;
    background-size: contain;
    position:relative;
}
a { color: #9ba8cd; }
a:hover {
    text-decoration: none;
    color: #5173a2;
}
.btn-yellow{
    border:1px solid #f8ed32;
    color: #eedc10;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    font-size: 24px;
    box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: rgba(88, 89, 91, 0.9);
}
.btn-yellow:hover, .btn-yellow:active{
    border:1px solid #967D09;
    color: #705D07;
    box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
    background-color: rgba(88, 89, 91, 0.9);
}


.html-changeHeight {height: 100%}
.page-look
{
    font-family: arial, sans-serif;
    color: #232c46;
    min-height: 100%;
    padding-bottom: 50px;
}
header{
    line-height: 81px;
    height: 81px;
    background-color: rgba(88, 89, 91, 0.9); /*rgba(78, 110, 165, 0.5)*/
    border-bottom:2px solid #f8ed32;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
header.sticky {
    position: fixed;
    line-height: 81px;
    height: 81px;
    width: 100%;
    z-index: 99999;
}
.logo{
    font-size:40px;
    color:#ffffff;
    font-family: 'Kaushan Script', cursive;
}
.logo-img{
    width:55px;
    margin:2px 20px 7px 0;
}
h1{color:#f8ed32;}
h2{
    color:#1b1e21;
    font-family: 'Lato', sans-serif;
    margin: 30px 0 50px 0;
}
h4{
    color:#1b1e21;
    font-family: 'Lato', sans-serif;
}
.heading{
    border-bottom: 1px solid #c8ccd7;
    padding-bottom:5px;
}
.heading h4{
    color:#ffffff;
    text-transform: uppercase;
    display:inline;
    border-bottom: 3px solid #eedc10;
    padding-bottom: 6px;
}
.header-search-title{
    align:justify;
    margin-bottom:30px;
}
.search{
    margin-top:20px;
}
.search-form{
    background: rgba(204, 205, 205, 0.5);
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
}
.spoiler-title3 {
    width:100%;
    text-align: center;
    cursor:pointer;
    color:#000000;
    font-size: 25px;
}
.spoiler-body3{
    margin-top:20px;
}
a.add-trip:link{
    color:#000000;
    font-size: 25px;
}
ul.menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
ul.menu:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
    color:#ffffff;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: red;
}
ul.sub-menu {
    display: none;
    position: absolute;
    width: auto;
    border:1px solid #67676b;
    top: 79px;
    right: 0;
    z-index: 9999;
}
ul.sub-menu > li {
    display: block;
    line-height:25px;
}
ul.sub-menu > li > a {
    display: block;
    padding: 10px;
    font-family:Lato,sans-serif;
    color: #ffffff;
    font-size: 17px;
    background-color: rgba(88, 89, 91, 0.9);
    text-decoration: none;
}
ul.sub-menu > li > a:hover {
    color: #eedc10;
    text-decoration: underline;
}
ul.menu > li:hover > ul.sub-menu {
    display: block;
}
.form-check-input{
    width:24px;
    height:24px;
    position:relative;
    top:6px
}
.form-check-inline{
    font-size:36px;
}

.icons {icon: auto}
.main{
    padding-top:20px;
}

.col-inline-padding-left{
    float:left;
    padding:0 0 0 5px;
    margin:0
}
.col-inline-padding-right{
    float:left;
    padding:0 5px 0 0;
    margin:0
}
.clearBoth{
    clear: both;
}
.alignCenter{
    text-align: center;
}
.btn-row{
    text-align: left;
    margin-top:15px;
    margin-bottom:10px;
}
.colorYellow{
    color:#eedc10;
}

.filter{
    float: left;
    background: rgba(88, 89, 91, 0.8);
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
}

.filter .form-check-inline{
    color:#ffffff;
    font-size:30px;
}
.adw-list{
    padding: 15px;
}
.adw-col{
    margin:auto;
}
.adw-list-row{
    border-bottom:1px solid #67676b;
    background-color: rgba(190, 191, 192, 0.8);
    padding-top:15px;
    padding-bottom:15px;
}

.adw-list-row i.fa-car{
    font-size:40px;
}
.info{
    border-right:1px solid #9a968d;
    text-align: center;
}
.yellowBorder {
    border:2px solid #9a968d;
    padding: 7px;
    font-size:20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}
.destination{
    font-size:20px;
    margin: 0 0 10px 0;
}
.departTime{
    font-weight:bold;
    font-size:20px;
}
.editAdw{
    padding-top:7px;
}
.footer-look {
    width: 100%;
    background-color: rgb(88, 89, 91);
    border-top:2px solid #f8ed32;
    color: #eaedf4;
    height: 80px;
    font-size: small;
    text-align: center;
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
}
.footer-text{
    padding:25px 0 0 0;
}
