body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #e9e7ed;
}
.mainContent{
  padding-top:94px;
}
.container {
  max-width: 10000px;
}
h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  color:  #fff;
  font-weight: 300;
}
  @media (max-width: 1200px) {
    h1 {
      font-size: 52px; } }
  @media (max-width: 992px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 47px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 34px; } }

h3 {
  font-size: 35px; }
  @media (max-width: 992px) {
    h3 {
      font-size: 30px; } }

h4 {
  font-size: 30px; }

h5 {
  font-size: 23px; }
  @media (max-width: 768px) {
    h5 {
      font-size: 19px; } }

h6 {
  font-size: 19px;
  font-weight: 400; }

p {
  font-size: 15px; }

.main-block {
  padding: 90px 0; }
.colored{
  background-color: #f3f4f7;
}
  @media (max-width: 768px) {
    .main-block {
      padding: 45px 0; } }

.light-bg {
  background: #e9e9ed; }

.dark-bg {
  background: #252a33; }

/* **************************************************************
   HEADER
   ************************************************************** */
.nav-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.nav-menu-2 {
  position: inherit; }

.navbar {
  padding: .5rem 0; }

.navbar-brand {
  font-size:45px;
  font-family: 'Kaushan Script', cursive;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size:25px;
  }
  .mainContent{
    padding-top:70px;
  }

}
@media (max-width: 500px) {
  .navbar-brand {
    font-size:23px;
  }
  .mainContent{
    padding-top:70px;
  }

}

.navbar-light .navbar-brand {
  color: #363636; }
.navbar-light .navbar-brand:hover {
    color: #282a36; }

.navbar-light .navbar-nav .show > .nav-link {
  color: #282a36; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #282a36; }

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 300;
  color: #282a36; }
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #282a36;
    outline: none; }

.navbar-light .navbar-toggler {
  color: #282a36;
  border-color: #000; }

@media (max-width: 992px) {
  .navbar-nav {
    padding: 7px 20px; } }

.nav-item {
  margin: 0 20px 0 0; }
  .nav-item span {
    font-size: 10px;
    margin: 0 0 0 4px; }
.login{
  font-size: 12px;
  text-align: center;
  margin-right:20px;
  padding: auto;
}
.login a{
  color: #252a33;
}
.icon-login1{
  color:#FFFFFF;
  background-color: #d1d1d4/*#4b4eb6*/;
  display:inline-block;
  position:relative;
  width:50px;
  height:50px;
  border-radius:50%;
  background-clip:padding-box;
  text-align:center;
  font-size:36px;
}
.icon-login2{
  color:#FFFFFF;
  background-color: #d1d1d4/**/;
  display:inline-block;
  position:relative;
  width:50px;
  height:50px;
  border-radius:50%;
  background-clip:padding-box;
  text-align:center;
  font-size:36px;
}
.icon-login3{
  color:#FFFFFF;
  background-color: #d1d1d4/*#4edf26*/;
  display:inline-block;
  position:relative;
  width:50px;
  height:50px;
  border-radius:50%;
  background-clip:padding-box;
  text-align:center;
  font-size:36px;
}

.icon-login1:hover{
  background-color:#4b4eb6;
}
.icon-login2:hover {
  background-color:#dc2800;
}
.icon-login3:hover {
  background-color: #4edf26;
}

.bg {
  width: 100%;
  height: 70px; }

.is-sticky {
  background: #252a33;
  opacity: 1; }

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.fixed {
  background: #fff;
  border-bottom:1px solid #e9e7ed;
  -webkit-box-shadow:0 .25rem .125rem 0 rgba(0,0,0,.025);box-shadow:0 .25rem .125rem 0 rgba(0,0,0,.025);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  @media (max-width: 992px) {
    .fixed {
      border: none;
      background: #ffffff; } }

.dropdown-menu {
  background: #ffffff; }

.dropdown-item {
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .dropdown-item:hover {
    color: #ffffff;
    background: #000000; }

.ti-plus {
  font-size: 14px;
  padding: 0 8px 0 0; }

.slider {
  background: linear-gradient(transparent, rgba(0,0,0,0.6)), url(../images/slider.jpg) no-repeat bottom;
  background-size: cover;
  min-height: 800px; }
.slider2 {
  background: linear-gradient(transparent, rgba(0,0,0,0.6)), url(../images/slider2.png) no-repeat bottom;
  background-size: cover;
  min-height: 800px;
  }

  @media (max-width: 992px) {
    .slider {
      min-height: 700px; } }
.align-items-center{
  -ms-flex-align:center!important;
  align-items:center!important
}
.margin_top{
  margin-top:190px;
}
.btn-outline-light {
  padding: 10px 16px; }
  @media (max-width: 992px) {
    .btn-outline-light {
      width: 25%; } }
  @media (max-width: 768px) {
    .btn-outline-light {
      width: 30%; } }
  @media (max-width: 576px) {
    .btn-outline-light {
      width: 40%; } }
  @media (max-width: 480px) {
    .btn-outline-light {
      width: 100%; } }
  .btn-outline-light:hover {
    color: #000; }

.slider-title_box {
  text-align: center; }


@media (max-width: 480px) {
  .form-wrap {
    margin: 0 !important; } }

.btn-group {
  //width: 100%;
  background-color: #fff;
}
  @media (max-width: 576px) {
    .btn-group {
      display: block; } }

.btn-group1 {
  padding: 24px;
  width: 40%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none; }
  @media (max-width: 576px) {
    .btn-group1 {
      width: 100%;
      border-radius: 3px;
      margin: 0 0 10px;
      padding: 17px; } }
.form-wrap div.form-group{margin:0}
fieldset{
  margin:auto;
  padding-right:15px;
}
.btn-group2.form-control {
  position: relative;
  border-radius:0;
  padding: 24px;
  width: 100%;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #ccc; }
  @media (max-width: 576px) {
    .btn-group2.form-control {
      width: 100%;
      border-radius: 3px;
      margin: 0 0 10px;
      padding: 17px; } }
.btn-group3 {
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 24px;
  border: 1px solid #ccc;
}
@media (max-width: 576px) {
  .btn-group3 {
    width: 100%;
    border-radius: 3px;
    margin: 0 0 10px;
    padding: 17px; } }
.first-group {
  padding: 0;
  //margin-left: 15px;
}
.choose{
  padding:0;
  margin:0;
}
.form-check-inline, .choose i{
  font-size:30px;
}
  input[type=radio] {
    display: none;
  }
  /* Creating the psuedo-element to replace the radio inputs: */
  input[type=radio] + label::after {
    content: '';
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 0.3em;
  }
  /* styling the checked 'radio': */
  input[type=radio]:checked + label::after {
    background-color: #ff5e00;
  }
  /* defining the height/width of the 'radio' according to the class of
     the radio input element: */
.form-check-input + label::after {
    width: 0.5em;
    height: 0.5em;
}
.second-group {
  padding-top:6px;
  //margin-left: 15px;
  //margin-right: 15px;
}
.second-choose{
  padding-left:20px;
}
.multi-range{
  position:relative;
  height:10px;
  top:20px;
  background: #00FF00;

}
.multi-range > input[type=range] {
  width: calc(100% - 16px);
  position: absolute;
  //top: 9px;
  left: 0;
}
.range-style.form-control{padding:0; padding:0;}
.multi-range > input[type=range]:last-of-type { margin-left: 16px; }
.multi-range > input[type=range]::-webkit-slider-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-webkit-slider-runnable-track { -webkit-appearance: none; height: 0;}
.multi-range > input[type=range]::-moz-range-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-moz-range-track { -webkit-appearance: none; height: 0; }
.multi-range > input[type=range]::-ms-thumb { transform: translateY(-18px); }
.multi-range > input[type=range]::-ms-track { -webkit-appearance: none; height: 0; }
.multi-range::after {
  content: attr(data-lbound) '' attr(data-ubound) '';
  position: absolute;
  top: 20px;
  left: 0;
  white-space: nowrap;
  display: block;
  padding: 0px 4px;
  margin: -1px 2px;
  width: auto;
  font-size: 13px;
  line-height: 26px;
}
.customizedCheckbox input[type=checkbox] {
  display: none;
}
/* Creating the psuedo-element to replace the radio inputs: */
.customizedCheckbox input[type=checkbox] + label::after {
  content: '';
  display: inline-block;
  border: 1px solid #000;
  border-radius: 10%;
  margin: 0 0.5em;
  }
.customizedCheckbox input[type=checkbox]:checked + label::after {
  background-color: #ff5e00;
}

.left-padding {
  padding-left:10px;
}
.btn-form {
  font-weight: 400;
  font-size: 18px;
  padding: 17px;
  width: 27%;
  background: #6ecb22;
  color: #ffffff;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.btn-form2 {
  font-weight: 400;
  font-size: 18px;
  padding: 17px;
  width: 100%;
  background: #6ecb22;
  color: #ffffff;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.btn-form3 {
  font-weight: 400;
  font-size: 18px;
  padding: 17px;
  background: #6ecb22;
  color: #ffffff;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
    @media (max-width: 768px) {
      .btn-form, .btn-form2 {
        width: auto; } }
    @media (max-width: 650px) {
      .btn-form, .btn-form2 {
        width: 100%;
        border-radius: 3px; }
      .choose{
        padding-top: 45px;
      }

    }

.search-icon {
  font-size: 15px;
  padding-right: 10px; }

.slider-link {
  color: #909090;
  margin: 45px 0 0;
  font-size: 19px;
}
    @media (max-width: 480px) {
      .slider-link {
        margin: 18px 0 0; }
      .slider-link a,
      .slider-link span {
        display: block; } }
.slider-link a {
  color: #909090;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
.slider-link a:hover {
  color: #fff; }
.slider-link span {
  padding: 0 18px; }

    /* **************************************************************
       FIND TRIP
       ************************************************************** */
.styled-heading {
  text-align: center;
  margin: 0 0 50px; }
.styled-heading2 {
  text-align: left;
  margin: 0 0 20px;
  width:auto;
}
    @media (max-width: 768px) {
      .styled-heading {
        margin: 0 0 30px; }
      .styled-heading2 {
        margin: 0 0 10px;

      }
    }
.styled-heading h3 {
  position: relative;
  padding: 0 0 23px;
  font-family: 'Open Sans', sans-serif;
}
.styled-heading h3:after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  background:  #6ecb22;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
.styled-heading2 h5 {
  position: relative;
  padding: 0 0 15px;
  font-family: 'Open Sans', sans-serif;
  display: inline;
}
.styled-heading2 h5:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background:  #6ecb22;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.find-img-align {
  padding: 0 0 15px; }
    @media (max-width: 768px) {
      .find-img-align {
        padding: 0; } }

.one_quarter{
  text-align: center;
  margin:auto;
}

.one_quarter:hover .icon{
  border-color:inherit;
  color:#FFFFFF;
  background-color:#252a33;
}
.icon{
  display:inline-block;
  position:relative;
  margin-bottom:20px;
  padding:20px;
  border-radius:50%;
  background-clip:padding-box;
  text-align:center;
  font-size:36px
}
.icon img{
  width:120px;
}
  @media (max-width: 768px) {
  .icon {
    font-size:26px; }
    .icon img{
      width:60px;
    }
  }

.uppercase{
  text-transform: uppercase;
  font-size:30px;
}
  @media (max-width: 768px) {
    .uppercase{
      font-size:20px;
    }
}

.orange-color{
  color: #ff5e00;
  font-family: 'Open Sans', sans-serif;
}

.featured-trip-wrap {
  background: #fff;
  margin: 0 0 30px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  border: solid 0px rgb(206, 205, 205);
}
.featured-trip-wrap:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-box-shadow: 0px 3px 25px 0 rgb(206, 205, 205);
  box-shadow: 0px 3px 25px 0 rgb(206, 205, 205);
  border: solid 1px rgb(206, 205, 205);
}
.featured-trip-wrap a {
  display: block;
  text-decoration: none;
  color: #000; }
.featured-trip-wrap img {
  width: 100%; }
.featured-title-box {
  padding: 22px 5px; }
.featured-title-box .bottom-info{
  padding: 10px 0px;
}

    @media (min-width: 1920px) {
      .featured-responsive{
        max-width: 465px;
      }

    }
    @media only screen and (max-width: 1200px) and (min-width: 992px) {
      .featured-responsive{
        min-width:33%;
        max-width: 33.3%;
      }
    }
    @media only screen and (max-width: 992px) and (min-width: 768px) {
      .featured-responsive{
        max-width:50%;
      }
      .col {
        padding-left: 0;
      }
    }
    @media only screen and (max-width: 767px) and (min-width: 300px) {
      .featured-responsive{
        min-width:50%;
        max-width:100%;
      }
      .col {
        padding-left: 0;
      }
    }
    @media (max-width: 480px) {
      .featured-title-box {
        padding: 22px 14px; } }

    .featured-title-box p {
      color: #9fa9b9;
      display: inline-block;
      margin: 0; }
    @media (max-width: 320px) {
      .featured-title-box p {
        font-size: 13px; } }
.featured-title-box p span {
  color: #ffb006;
  padding: 0;
}
.featured-title-box span {
  color: #9fa9b9;
  padding: 0 10px;
}

    @media (max-width: 320px) {
      .featured-title-box span {
        padding: 0 4px; } }
    .featured-title-box ul {
      padding: 0;
      margin: 10px 0 0; }
    .featured-title-box ul li {
      list-style: none;
      color: #737882;
      line-height: 2; }
    .featured-title-box ul li span {
      padding: 7px 8px 0 0; }
    @media (max-width: 1200px) {
      .featured-title-box ul li span {
        padding: 0 4px 0 0; } }
    @media (max-width: 320px) {
      .featured-title-box ul li span {
        font-size: 12px;
        padding: 0 2px 0 0; } }
.featured-title-box ul li p {
  margin: 0;
}
.info{
  padding: 15px 10px;
}
.icon-block{
  padding: 0 15px 10px 15px;
}
.icon-block img{
  width:48px;
  position:relative;
  bottom:8px;
}
.blueBorder {
  border:2px solid #2a2c37;
  padding: 10px;
  font-size:20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
    @media (max-width: 768px) {
      .one_quarter {
        text-align: center;
        width: auto;
        margin: auto;
        padding: 0;
      }
    }
.arrow-marker{
  margin-left:3px;
  font-size:18px;
}
.featured-title-box span.green-marker{
  color: #6ecb22;
}
    /* **************************************************************
       ADD TRIP
       ************************************************************** */
    .add-listing-wrap {
      text-align: center;
      margin: 0 0 36px; }
    .add-listing-wrap h2 {
      font-weight: 300; }
    .add-listing-wrap p {
      font-size: 22px;
      font-weight: 300;
      color: #737882; }

    /* *************************************************************
       FOOTER
       ************************************************************* */
    footer {
      //position: relative;
    }
    .footer-block{
      //padding: 30px 0;
      background-color: #252a33;
      min-height: 80px;
      margin: auto auto 0 auto;
      text-align: center;
      width: 100vw;
    }
    .copyright {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      color: #ccc;
      margin: 10px 0px 10px 0px;
    }
    @media (max-width: 768px) {
      .copyright {
        font-size: 14px;
      }
    }
    .copyright ul {
      margin: 25px 0 0;
      padding: 0; }
    .copyright ul li {
      list-style: none;
      display: inline-block; }
    .copyright ul li a {
      color: #ccc;
      font-size: 22px;
      padding: 0 10px;
      opacity: 0.6;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .copyright ul li a:hover {
      opacity: 1;
      text-decoration: none; }

/* **************************************************************
       REGISTRATION AND ADD EDIT TRIP FORMS
       ************************************************************** */
.registration-form{
  background: #ffffff;
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  padding: 15px 15px 15px 15px;
  font-weight: bold;
  color: #000000;
}

.form-title{
  margin-bottom:30px;
  //padding-top: 10px;
  padding-left: 10px;
  color:#000000;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
}
.form-margin{
  margin: auto;
}
.btn-align{
  text-align:right;
  margin-top:20px;
  padding-right: 5px;
}

.col-inline-padding-left{
  float:left;
  padding:0 5px 0 10px;
  margin:0
}
.col-inline-padding-right{
  float:left;
  padding:0 10px 0 5px;
  margin:0
}

.itemTitle{
  font-weight:bold;
  font-size:20px;
}
@media (max-width: 768px) {
  .itemTitle{
    font-size:15px;
  }
}
.btn-row{
  text-align: left;
  margin-top:15px;
  margin-bottom:10px;
}
