{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <p>
    <h1>Oops! An Error Occurred</h1>
    <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}